___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
print("Head of DataFrame:")
print(sal.head())
print("\n" + "="*50 + "\n")

Head of DataFrame:
   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

==================================================

** Use the .info() method to find out how many entries there are.**

In [4]:
print("DataFrame Info:")
sal.info()
print("\n" + "="*50 + "\n")

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

==================================================

**What is the average BasePay ?**

In [5]:
average_basepay = sal['BasePay'].mean()
print(f"Average BasePay: ${average_basepay:,.2f}")
print("\n" + "="*50 + "\n")

Average BasePay: $66,325.45

==================================================

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
max_overtime = sal['OvertimePay'].max()
print(f"Highest OvertimePay: ${max_overtime:,.2f}")
print("\n" + "="*50 + "\n")

Highest OvertimePay: $245,131.88

==================================================

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
joseph_job = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
print("JOSEPH DRISCOLL's Job Title:")
print(joseph_job.iloc[0])
print("\n" + "="*50 + "\n")

JOSEPH DRISCOLL's Job Title:
CAPTAIN, FIRE SUPPRESSION

==================================================

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [8]:
joseph_total = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']
print(f"JOSEPH DRISCOLL's Total Pay (including benefits): ${joseph_total.iloc[0]:,.2f}")
print("\n" + "="*50 + "\n")

JOSEPH DRISCOLL's Total Pay (including benefits): $270,324.91

==================================================

** What is the name of highest paid person (including benefits)?**

In [9]:
highest_paid_idx = sal['TotalPayBenefits'].idxmax()
highest_paid_name = sal.loc[highest_paid_idx, 'EmployeeName']
highest_paid_amount = sal.loc[highest_paid_idx, 'TotalPayBenefits']
print(f"Highest paid person: {highest_paid_name}")
print(f"Total compensation: ${highest_paid_amount:,.2f}")
print("\n" + "="*50 + "\n")

Highest paid person: NATHANIEL FORD
Total compensation: $567,595.43

==================================================

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [10]:
lowest_paid_idx = sal['TotalPayBenefits'].idxmin()
lowest_paid_name = sal.loc[lowest_paid_idx, 'EmployeeName']
lowest_paid_amount = sal.loc[lowest_paid_idx, 'TotalPayBenefits']
print(f"Lowest paid person: {lowest_paid_name}")
print(f"Total compensation: ${lowest_paid_amount:,.2f}")
print("Note: This person has negative pay, likely due to adjustments or corrections.")
print("\n" + "="*50 + "\n")

Lowest paid person: Joe Lopez
Total compensation: $-618.13
Note: This person has negative pay, likely due to adjustments or corrections.

==================================================

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [11]:
avg_basepay_by_year = sal.groupby('Year')['BasePay'].mean()
print("Average BasePay by Year:")
for year, avg_pay in avg_basepay_by_year.items():
    print(f"{year}: ${avg_pay:,.2f}")
print("\n" + "="*50 + "\n")

Average BasePay by Year:
2011: $63,595.96
2012: $65,436.41
2013: $69,630.03
2014: $66,564.42

==================================================

** How many unique job titles are there? **

In [12]:
unique_jobs = sal['JobTitle'].nunique()
print(f"Number of unique job titles: {unique_jobs}")
print("\n" + "="*50 + "\n")

Number of unique job titles: 2159

==================================================

** What are the top 5 most common jobs? **

In [14]:
top_5_jobs = sal['JobTitle'].value_counts().head(5)
print("Top 5 most common jobs:")
for job, count in top_5_jobs.items():
    print(f"{job}: {count} employees")
print("\n" + "="*50 + "\n")

Top 5 most common jobs:
Transit Operator: 7036 employees
Special Nurse: 4389 employees
Registered Nurse: 3736 employees
Public Svc Aide-Public Works: 2518 employees
Police Officer 3: 2421 employees

==================================================

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [15]:
sal_2013 = sal[sal['Year'] == 2013]
job_counts_2013 = sal_2013['JobTitle'].value_counts()
unique_jobs_2013 = (job_counts_2013 == 1).sum()
print(f"Job titles with only one person in 2013: {unique_jobs_2013}")
print("\n" + "="*50 + "\n")

Job titles with only one person in 2013: 202

==================================================

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [16]:
chief_jobs = sal[sal['JobTitle'].str.contains('Chief', case=False, na=False)]
chief_count = len(chief_jobs)

In [17]:
print(f"Number of people with 'Chief' in job title: {chief_count}")
print("\n" + "="*50 + "\n")

Number of people with 'Chief' in job title: 627

==================================================

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [18]:
sal['title_len'] = sal['JobTitle'].str.len()
correlation = sal[['title_len', 'TotalPayBenefits']].corr()

In [19]:
print("Correlation between job title length and total compensation:")
print(correlation)
print(f"\nCorrelation coefficient: {correlation.loc['title_len', 'TotalPayBenefits']:.6f}")
print("This shows a very weak negative correlation - longer job titles tend to have slightly lower pay.")

Correlation between job title length and total compensation:
                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

Correlation coefficient: -0.036878
This shows a very weak negative correlation - longer job titles tend to have slightly lower pay.

# Great Job!